#content-container{
    container-type: inline-size;
    container-name: contentcontainer;
}

.site-card{
    top: 200%;
    /* Remove this if it causes too much trouble with alignments */
}

.floating{
    padding: 0 8% !important;
    max-height: 90vh;
}

.floating .card{
    max-height: 80vh;
    width: auto;
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.floating-column:has(.floating){
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    padding: 0px !important;
}

.floating-scroll:has(.floating){
    position: sticky;
    background-color: rgba(0, 0, 0, 0.219);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
}

.maximize-button{
    position: absolute;
    border: 0;
    opacity: 0;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
    transition: opacity 0.3s ease;
}

.card:hover .maximize-button{
    opacity: 1;
}

#my-container{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
}

#my-other{
    position: fixed;
    background-color: black;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#my-element{
    height: 200px;
    background-color: aqua;
    position: sticky;
    top: 50%;
}