.centers-table{
  max-height: 40vh;
}

.zindex{
    z-index: 1;
}
.searchbar{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.searchbarfield{
    background-color: rgba(193, 193, 193, 0.494);
}
table, th, td {
    border: 1px solid rgba(118, 117, 117, 0.424);
    border-collapse: collapse;
}

@media only screen and (max-width: 850px) {
  .iconAdd{
    padding-bottom: 15px;
  }
}