/* body {
  width: 100vw;

} */

/*table head change*/
th {
  vertical-align: middle;
}

table {
  border-radius: 4px;
  width: 70%;
  margin: auto;
  background-color: white;
  border-collapse: collapse;
}

tr {
  border: 1px solid transparent;
  z-index: 7;
}

td {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

td.highlight {
  padding: 0;
  width: 4px;
}

td.highlight div {
  width: 4px;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

tr:hover {
  box-shadow: 0px 9px 4px -6px grey;
}

tr:hover td {
  cursor: pointer;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

/* tr:first-child:hover td {
    border-top: none;
  }
  tr:last-child:hover td {
    border-bottom: none;
  } */
tr:hover td.highlight div {
  transform: scaleX(3);
}